<div class="row">
<div class="col-6 bg-success p-3">
    <h3>One Way</h3>
    <div class="row">
        <div class="col-6 bg-warning p-3">
            from .ts to .html
            <br>
             => interpolation and property binding
        </div>
        <div class="col-6 bg-secondary p-3">
            from .html to .ts
            <br>
        </div>
    </div>
</div>

<div class="col-6 bg-danger">
    <h3>Two Way</h3>
</div>
<div class="row">
  <div class="col-3">
    course Name -> {{ courseName }}
    <br>
    <h1>{{ courseDuration }}</h1>
  </div>

  <div class="col-3">
    <input type="text" placeholder="enter name" [value]="courseName">
  </div>

  <div class="col-3">
    <input type="text" [value]="courseName" [placeholder]="myPlaceHolderText">
  </div>
  <div class="col-3">
    <div [class]="clsName">
        Divvv
    </div>
  </div>
</div>
<div class="row">
    <div class="col-3">
        <button class="btn btn-primary" (click)="showWelcomeText()">Show Alert</button>
    </div>
     <div class="col-2">
        <button class="btn btn-primary" (click)="showMessage('Angular')">Angular</button>
    </div>
     <div class="col-2">
        <button class="btn btn-primary" (click)="showMessage('React')">React</button>
    </div>
    <div class="col-3">
        <select (change) = "onStageChange()">
            <option>Maharasthra</option>
            <option>Punjab</option>
            <option>Goa</option>
        </select>
    </div>
    <div class="row">
        <div class="col-3">
           <input type="text" [(ngModel)]="courseName">
        </div>

    </div>
</div>



</div>

